*{
    margin: 0%;
    padding: 0%;
}

#nav{
    display: flex;
    width: 90%;
    margin: auto;
    padding: 20px 0px;
   background-color: #000;
   
}
#netflix{
    width: 20%;
    margin: auto;
    font-size: larger;
    font-weight: bolder;
    color: rgb(231, 7, 7);
  
}
#search_input{
    width: 50%;
    margin: auto;
  
}
#search_input>input{
width: 90%;
padding: 20px;
border-radius: 15px;
}
#nav_btn{
    width: 20%;
    margin: auto;
    color: black;
    display: flex;
    justify-content: space-between;
  
}
.nav_btn{
    padding: 10px;
    border-radius: 15px;
}
#container{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
    gap: 25px;
    margin-top: 50px;
    /* border: 2px solid red; */
}
#container>div{
    text-align: left;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#container>div>img{
    width: 100%;
}